*{
	box-sizing: border-box;
	font-family: Raleway;
	color: #777;
	margin: 0 auto;
}

.error{color:#777;}
.success{color:#090;}
.info{color:#00c;}



.nav li{
	display: inline;
}
.nav a{
	padding: .5em;
	color: white;
	text-decoration: none;
}
.nav a:hover{
	background-color: black;
}
.main-nav{
	text-align: center;
	font-size: 1.6em;
	border-bottom: 1px solid grey;


}
.main-nav a{
	padding: 0 5%;
}
.band-name{
	text-align: center;
	margin: 0;
	font-size: 5em;
	font-family: fantasy;
	color: white;

}
.normal-section{

	background-color: #fff;
}


.main-header{
	background-image: url(bg1.JPG);
	background-size: cover;

}
.section-container{
	margin: 0 auto;
	padding: 0 1.5em;

	
}
.section-header{
	text-align: center;
	font-family: fantasy;
	color:#333;
	font-size: 2em;
}
.about-band-image{
	float: left;
	height: 200px;
	width: 200px;
	margin: 15px;
	border-radius: 50%;

}
.about-footer{
	background-color: #56CCF2;
	color: white;
	padding: .25em 0;
	height: auto;
	margin: 0 auto;
}
.footer-nav{
	text-align: center;
	padding: 0.4em;

}
.footer-nav img{
	height: 40px;
	width: 50px;

}
.footer-nav li{
	display: inline;
}




.btn{
	text-align: center;
	padding: 0.6em ;
	cursor: pointer;
	vertical-align: middle;
}

.btn{
	text-align: center;
	padding: 0.6em ;
	cursor: pointer;
	vertical-align: middle;
}
.btn-header{ 
 	text-align: center;
	margin: .5em 15% 2em 15%;
	color: white;
	border: 2px solid #2D9CDB;
	background-color: rgba(255,255,255, .1);
	border-radius: 0;
	font-size: 1.5em;
	font-weight: lighter;
	padding-left: 2em;
	padding-right: 2em;
}

.btn-header:hover{
	background-color:rgb( 255,255,255,.3);

}
.btn-play{
	display: block;
	margin: 0 auto;
	font-size: 4em;
	border-radius: 50%;
	padding: 0;
	width: 100px;
	height: 100px;
	
}
.tour-row{
	border-bottom: 1px solid black;
	padding-bottom: 1em;
	margin-bottom: 1em; 
}
.child-row{
	
	padding-bottom: 1em;
	margin-bottom: 1em; 
}
.tour-item{
	display: inline-block;
	padding-right: .5em;
	
}
.tour-date{
	color: #555;
	font-weight: bold;
	width: 11%;

}
.tour-city{
	width: 24%;
}
.tour-arena{
	width: 42%
}
.tour-btn{
	width: 19%
	
}
.btn-primary{
	color: white;
	background-color: #56CCF2 ;
	border:none ;
	border-radius:.3em  ;
	font-weight: bold;
}
.btn-primary:hover{
	background-color: #2DECF2;
}
.shop-item{
	margin: 30px;
}
.shop-item-title{
	display: block;
	width: 100%;
	text-align: center;
	font-weight: bold;
	color: #333;
	font-size: 1.6em;
	margin-bottom: 15px;
}
.shop-item-image{
	height: 250px;
}
.shop-item-details{
	display: flex;
	align-items: center;
	padding: 5px;
}
.shop-item-price{
	flex-grow: 1;
	color: #333;
}
.shop-items{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.cart-header{
	font-weight: bold;
	font-size:1.3em;
	color:#333;
}
.cart-column{
	display: flex;
	align-items: center;
	border-bottom: 1px solid black;
	margin-right: 1.5em;
	padding-bottom: 8px;
	margin-top: 20px;

}
.cart-row{
	display: flex;
}
.cart-item{
	width: 10%;

}
.cart-price{
	width: 15%;
	color: #333;
	font-size: 1.2em;

}
.cart-quantity{
	width: 14%;

}
.cart-item-title{
	color: #333;
	font-size: 0.9em;
	float: left;
}
.btn-danger{
	color: white;
	background-color: #EB5757;
	border: none;
	border-radius: .3em;
	font-weight: bold;
}
.btn-danger:hover{
	background-color: CC4C4C ;

}
.cart-quantity-input{
	height: 35px;
	width:50px;
	color:#333;
	border-radius:5px;
	border:1px #56CCF2;
	background-color:#eee;
	padding:0;
	font-size:1.2em;
	text-align:center;
	margin-right:25px: 
}
.cart-total{
	text-align: end;
	margin-top: 10px;
	margin-right: 10px;
}
.cart-total-title{
	font-weight: bold;
	font-size: 1.5em;
	color: #333;
	margin-right: 20px;
}
.cart-total-price{
	color: #333;
	font-size:1.1em;
}
.btn-purchase{
	display: block;
	margin: 40px auto 80px auto;
	font-size: 1.75em;
}
.txtarea{

	height: 300px;
	width: 500px;
}
.error{color:#777;}

.success{color:#090;}

.info{color:#00c;}

.loggedin-user{
	box-sizing:border-box; padding: 25px 0; margin: 0;width: 100%;
	display:grid; grid-template-columns: auto;
}
.loggedin-user-pic{
	box-sizing:border-box; padding: 10px; margin: 0;width: 150px;height: 150px;
	border-radius: 50%;border: 3px #ef4937 solid;
	background-size: cover;

}




